<ul class="sidebar navbar-nav">
    <li class="nav-item {{active page " dashboard"}}">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item {{active page " staff"}}">
        <a class="nav-link " href="/staff">
            <i class="fa fa-user"></i>
            <span>Staffs</span>
        </a>
    </li>
    <li class="nav-item {{active page " product"}}">
        <a class="nav-link" href="/product">
            <i class="fas fa-coffee"></i>
            <span>Drinks</span>
        </a>
    </li>
    <li class="nav-item {{active page " discount"}}">
        <a class="nav-link" href="/discount">
            <i class="fas fa-tags"></i>
            <span>Discount</span></a>
    </li>
    <li class="nav-item" {{active page "finance" }}>
        <a class="nav-link" href="/finance">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Finance</span></a>
    </li>
    <li class="nav-item" {{active page "feedback" }}>
        <a class="nav-link" href="/feedback">
            <i class="fas fa-comments"></i>
            <span>Feedback</span></a>
    </li>
</ul>