{{>navbar}}
<div id="wrapper">
    {{>sidebarStaff}}
    <div class="container-fluid">
        <h1>Staff Detail</h1>
        <h3>Username: {{bill.customerName}}</h3>
        <h3>Password: {{bill.customerAddress}}</h3>
        <h3>Full Name: {{bill.customerPhone}}</h3>
        <h3>Address: {{bill.customerEmail}}</h3>
        <h3>Phone Number: {{bill.date}}</h3>
        {{#each bill.productList}}
        <h3>{{name}} x {{quantity}} x {{price}}</h3>
        {{/each}}
        <h3>Start Date: {{bill.discountCode}}</h3>
        <h3>Role: {{bill.discountValue}}</h3>
        <h3>Salary: {{bill.shipping}}</h3>
        <h3>Salary: {{bill.total}}</h3>
        <a class="btn btn-primary" href="/info/edit">Update profile</a>
    </div>
</div>


{{>logout}}
{{>scrolltotop}}
{{#extend "script"}}
<script src="/js/staffDetail-form.js"></script>
{{/extend}}