{{>navbar}}
<div id="wrapper">
    {{>sidebarAdmin}}
    <div class="container-fluid">
        <h1>Edit Product</h1>
        <form data-toggle="validator" role="form" id="product-detail-form">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" value="{{product.name}}" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="price" class="control-label">Price</label>
                <input type="number" step=0.001 class="form-control" id="price" value={{product.price}} required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="imgSrc" class="control-label">Image Source</label>
                <input type="file" class="form-control" id="imgSrc" value="{{product.imgSrc}}">
                <div class="row mt-3">
                    <div class="preview-image img-responsive col-sm-6 ">

                        <p class="h4">Before</p>
                        <img src="{{product.imgSrc}}" id="before" alt="image Before">


                    </div>
                    <div class="preview-image img-responsive col-sm-6">
                        <p class="h4">After</p>
                        <img id="image-preview" src="#" alt="image After" class="hidden" />
                    </div>
                </div>
                <hr>
                <div class=" help-block with-errors"></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="coffee" checked required>
                        Coffee
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="milk-tea" required>
                        Milk Tea
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="tea" required>
                        Tea
                    </label>
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="more" value="hot">
                        Hot
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="more" value="new">
                        New
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#description"
                    aria-expanded="false" aria-controls="description">description</button>
                <textarea class="collapse" rows=5 id="description"
                    style="width: 100%;">{{product.description}}</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formula"
                    aria-expanded="false" aria-controls="formula">Formula</button>
                <textarea class="collapse" rows=5 id="formula" style="width: 100%;">{{product.formula}}</textarea>
            </div>
            <div class=" form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <div id="dialog"></div>
        <div id="loader"></div>
        <div id="msgSubmit"></div>
    </div>
</div>
{{>logout}}
{{>scrolltotop}}
{{#extend "script"}}
<script src="/js/productDetail-form.js"></script>
<script src="/js/preview-image.js"></script>
{{/extend}}